* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.wrapper {
    max-width: 1750px;
    margin: 0px auto; 
}
.right:hover {
    transform: translateX(5px);
    transition: all 0.5s;
}
.borderRegister {
    border-top: 20px solid black;
}
.verify {
    background-color: rgba(0, 0,0,0.6) !important;
}

.CardEffect {
    transition: 0.5s !important;
}
.CardEffect .btn {
    display: none;
    transition: all 0.5s;    
    transform: translateY(40px);
}
.CardEffect:hover .cardImg {
    filter: brightness(40%);
    transition: all 0.5s;
}
.slider img {
    filter: brightness(40%);
}
.swipperBG {
   background: rgba(0, 0,0,0.4) !important;
}
.CardEffect:hover .btn {
    display: block;
}
.cardFooter {
    position: relative;
    transition: all 0.5s !important;
}
.cardFooterBtn {
    transform: translateY(80px);
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
}
.CardEffect:hover .cardFooterBtn {
    height:70%;
    transition: all 0.5s;
    opacity: 1;
}

.zigzak {
    position: relative;
}
.zigzak::before {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    left: -3px;
    width: 100%;
    height: 30px;
    background: linear-gradient(-130deg , #00dfef 15px, transparent 0%),linear-gradient( #0000 12px, transparent 0%);
    background-size: 24px;
}
.hoverInfo:hover {
    background: #FF6636;
    filter: drop-shadow(1px  1px  5px #FF6636);
    transition: all 0.5s;
}

.borderTop {
    border-top: 5px solid #F1F1F1;
    border-radius: 12px;
}
@media (max-width: 2000px) {
    .cardResponsive {
        flex-wrap: wrap;
    }
}

@media (max-width: 880px) {
    .Responsive {
        flex-wrap: wrap;
    }
}

@media (max-width: 550px) {
    .card {
        width: 100%;
    }
}
.swiper {
    width: 100%;
    height: 100%;
}
  